.catalog-container {
    padding-bottom: 45px;
}

.catalog-banner img {
    border-radius: 5px;
    width: 100%;
}

.catalog-navigation {
    margin-top: 45px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #939393;
    line-height: 150%;
}

.catalog-navigation span {
    color: #212121;
}

.catalog-title {
    margin-top: 45px;
    font-family: "Cormorant", sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #212121;
    text-transform: uppercase;
}

.catalog-description {
    font-size: 18px;
    line-height: 150%;
    font-family: "Montserrat", sans-serif;
    margin-top: 30px;
    max-width: 760px;
}

.catalog-description>p {
    margin-top: 10px;
}

.catalog-row-sort-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    line-height: 150%;
    font-size: 18px;
    color: #212121;
    margin-top: 90px;
}

.catalog-row-sort-desktop-buttons {
    display: flex;
    gap: 40px;
    align-items: center;
}

.catalog-row-sort-desktop-button {
    /*max-width: 300px;*/
    cursor: pointer;
    transition: 0s;
}

.catalog-row-sort-desktop-button--active {
    background-color: #484848;
    color: white;
    padding: 6px 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.catalog-main-part {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.catalog-column-sort-desktop {
    width: 230px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.catalog-column-sort-desktop-card {
    font-family: "Montserrat", sans-serif;
}

.catalog-column-sort-desktop-card-title {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.catalog-column-sort-desktop-card-buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.catalog-column-sort-desktop-card-button {
    cursor: pointer;
}

.catalog-column-sort-desktop-card-button input {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    display: none;
}

.catalog-column-sort-desktop-card-button label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.catalog-column-sort-desktop-card-button label:before {
    width: 26px;
    height: 26px;
    margin-right: 20px;
    content: "";
    border: 1px solid black;
    display: inline-flex;
    cursor: pointer;
    padding: 5px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-top: 7px;
}

.catalog-column-sort-desktop-card-button input:checked+label:before {
    content: url("./images/square.svg");
}

.catalog-products {
    padding-bottom: 45px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 15px;
}

/* Стиль который добавляется, когда у товара нет статуса - топ */
.product-card-status-top--hide {
    opacity: 0;
}

/* Стиль который добавляется когда товар без скидки  */
.product-card-status-sale--hide {
    opacity: 0;
}

/* Стиль который добавляется к цене когда нет скикдки */
.product-card-base-cost--hide {
    opacity: 0;
}

.catalog-row-sort-mobile {
    display: none;
    max-width: 760px;
    margin: 0 0;
    margin-top: 35px;
    font-family: "Montserrat", sans-serif;
}

.catalog-row-sort-mobile-left-btn {
    padding: 15px 20px;
    cursor: pointer;
}

.catalog-row-sort-mobile-right-btn {
    padding: 15px 20px;
    background-color: #CFCFCF;
    color: #212121;
    cursor: pointer;
}

.catalog-row-sort-mobile-right-btn:hover {
    background: #303030;
    color: white
}

/* Выпадающий фильтр стили */
.mobileMenuFilters-container {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #484848;
    color: white;
    transition: left 0.3s ease;
    z-index: 999;
    font-family: "Montserrat", sans-serif;
}

.mobileMenuFilters-container--open {
    left: 0;
}

.mobileMenu-list {
    padding: 20px;
}

.mobileMenu-link {
    color: white;
    font-size: 18px;
    margin-bottom: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #CBCBCB;
}

.mobileMenu-link a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.mobileMenu-list--has-submenu .mobileMenu-submenu {
    list-style: none;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    margin: 0;
}

.mobileMenu-list--has-submenu.mobileSubmenu-open .mobileMenu-submenu {
    max-height: 500px;
    /* достаточно большое значение для отображения всех элементов */
    margin-top: 15px;
}

.mobileMenu-submenu li {
    padding: 10px;
}

.mobileMenu-submenu li a {
    color: white;
}

.mobileMenu-submenu li a:hover {
    background-color: #666;
}

/* Анимация для кнопки с подменю */
.mobileMenu-submenu-toggle:after {
    content: ">";
    /* стрелка вниз */
    float: right;
    transition: transform 0.3s ease;
    font-size: 24px;
    position: relative;
    top: -5px;
}

.mobileMenu-list--has-submenu.mobileSubmenu-open .mobileMenu-submenu-toggle:after {
    transform: rotate(90deg);
    /* Поворачиваем стрелку вверх */
}

.headerMobileFilters-container {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 21px;
}

.headerMobile-left {
    height: 35px;
    display: flex;
    align-items: center;
}

.headerMobile-right {
    height: 35px;
    display: flex;
    align-items: center;
}

.headerMobile-button {
    margin-right: 22px;
}

.headerMobile-button:last-child {
    margin-right: 0;
}

.catalog-column-sort-mobile-card-button {
    cursor: pointer;
}

.catalog-column-sort-mobile-card-button input {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    display: none;
}

.catalog-column-sort-mobile-card-button label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.catalog-column-sort-mobile-card-button label:before {
    width: 26px;
    height: 26px;
    margin-right: 20px;
    content: "";
    border: 1px solid white;
    display: inline-flex;
    cursor: pointer;
    padding: 5px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-top: 7px;
}

.catalog-column-sort-mobile-card-button input:checked+label:before {
    content: url("./images/square_white.svg");
}

.catalog-column-sort-mobile-card-button input:checked+label:before>rect {
    fill: white;
}

/* Конец стилей выпадающего фильтра */

@media (max-width: 1200px) {
    .catalog-row-sort-desktop {
        display: none;
    }

    .catalog-column-sort-desktop {
        display: none;
    }

    .catalog-products {
        margin-left: 0;
        max-width: 1124px;
    }

    .catalog-row-sort-mobile {
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 1000px) {
    .catalog-navigation {
        margin-top: 20px;
        font-size: 14px;
    }

    .catalog-title {
        margin-top: 20px;
        font-size: 28px;
    }

    .catalog-description {
        font-size: 14px;
        max-width: 560px;
    }
}

@media (max-width: 768px) {
    .catalog-products {
        flex-direction: column;
        align-items: center;
    }

    .catalog-main-part {
        margin-top: 35px;
    }

    .catalog-row-sort-mobile {
        margin-top: 15px;
    }
}

@media (max-width: 560px) {

    /* .catalog-description>p:last-child {
        display: none;
    } */
    .catalog-row-sort-mobile-left-btn {
        padding: 10px 15px;
        font-size: 14px;
    }

    .catalog-row-sort-mobile-right-btn {
        padding: 10px 15px;
        font-size: 14px;
    }
}