.product-card-container {
    max-width: 225px;
    padding: 10px 13px 20px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 20px;
    border: 1px solid white;
    transition: transform 0.1s linear, max-height 0.1s linear;
    cursor: pointer;
    max-height: 400px;
    position: relative;
    background: white;
}

.product-card-container:hover {
    border: 1px solid #212121;
    transform: scale(1.1);
    background: white;
    z-index: 10;
}

.product-card-container:hover::after {
    max-height: 0;
    transition: max-height 0.05s linear;
}

.product-card-container:hover::after {
    max-height: 50px;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    background: white;
    z-index: 2;
    top: calc(100% - 3px);
    left: -1px;
    border: 1px solid #212121;
    border-top: none;
}

.product-card-statuses {
    display: flex;
    justify-content: space-between;
}

.product-card-statuses>div {
    width: 78px;
    height: 22px;
    text-transform: uppercase;
    line-height: 130%;
}

.product-card-status-sale {
    background: #212121;
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card-status-top {
    background: #b29d8c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card-image {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.product-card-image img {
    width: 136px;
    height: 136px;
}

.product-card-article {
    display: flex;
    cursor: pointer;
}

.product-card-article-favourite-btn {
    margin-left: 4px;
    margin-right: 12px;
}

.product-card-article-favourite-btn--active>path {
    fill: #f34c40;
    stroke: #f34c40;
}

.product-card-article-content {
    font-size: 14px;
    color: #212121;
}

.product-card-title {
    margin-top: 15px;
    text-align: center;
    line-height: 130%;
    color: #212121;
}

.product-card-current-cost {
    font-weight: 500;
    font-size: 24px;
    color: #212121;
    text-align: center;
    margin-top: 20px;
}

.product-card-base-cost {
    color: #9d9d9d;
    margin-top: 15px;
    text-decoration: line-through;
    text-align: center;
}

.product-card-button {
    font-size: 14px;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    opacity: 0;
    transition: opacity 0s;
    z-index: 3;
    position: relative;
}

.product-card-container:hover .product-card-button {
    opacity: 1;
}